/**
 * @section Reset
 * Remove all default browser stylings (level the playing field)
 -------------------------------------------------- */
* {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { 
    display:block;
}

/** @section Basics
 -------------------------------------------------- */
body {
	background: #444 url(../img/texture.png) top 0;
	color: #eee;
	font: 13px/1.5 Helvetica, Arial sans-serif;
	margin: 0;
}

a {
	color: #fff;
	font-weight: bold;
	text-shadow: 0 0 4px rgba(255, 255, 255, 1);
	text-decoration: none;
}

ul {
	list-style: none;
}

h1,
p,
ul {
	margin-bottom: 10px;
}
time {
	color: #999;
	font-size: 11px;
}

/** @section Header
 -------------------------------------------------- */

header.grey-ribbon-top {
	background: url(../img/nav-shadow.png) repeat-x 0;
	height: 50px;
	line-height: 50px;
	margin-bottom: 10px;
	padding-bottom: 0 20px 1px;
}
header.grey-ribbon-top {
	color: #111;
	text-shadow: 0 1px 1px rgba(255, 255, 255, .3);
}

header nav,
header h1,
header ul,
header li {
	font-size: 12px;
	display: inline;
}
header .things li {
	margin: 0 10px;
}

/** @section Content
 -------------------------------------------------- */

h1.big-text {
	color: #111;
	font-size: 24px;
	text-shadow: 0 1px 1px rgba(255, 255, 255, .3);
}

.center {
	margin: 0 auto;
	max-width: 960px;
	padding: 0 10px;
}

.text-thingy {
	display: -moz-inline-box; /* FF2 */
	display: inline-block; /* Standard. IE8+, Saf, FF3+ */
	/**
	 * @bugfix inline-block fix
	 * @see http://blog.mozilla.com/webdev/2009/02/20/cross-browser-inline-block/
	 * @valid no
	 */
	zoom: 1;
	*display: inline;
	width: 30%; /* (270px at max width) */
	margin: 20px 1%; /* 30px at max width) */
	max-width: 500px;
	vertical-align: top;
}
.text-thingy .medium-text {
	font-size: 14px;
	margin-bottom: 5px;
}

/** @section Gallery
 -------------------------------------------------- */

.side-by-side-boxes {
	border: 1px solid #333;
	border-width: 1px 0;
	margin: 10px 0 ;
	padding: 10px;
	text-align: center;
}

.stacked-round-grey-box {
	display: -moz-inline-box; /* FF2 */
	display: inline-block; /* Standard. IE8+, Saf, FF3+ */
	/**
	 * @bugfix inline-block fix
	 * @see http://blog.mozilla.com/webdev/2009/02/20/cross-browser-inline-block/
	 * @valid no
	 */
	zoom: 1;
	*display: inline;
	width: 30%; /* (270px at max width) */
	margin: 20px 1%; /* 30px at max width) */
	text-align: left;
	vertical-align: middle;
}
.stacked-round-grey-box a {
	background: #333;
	border-bottom: 1px solid #222;
	-moz-border-radius: 5px; /* FF1+ */
	-webkit-border-radius: 5px; /* Saf3+, Chrome */
	-khtml-border-radius: 5px; /* Konqueror */
	border-radius: 5px; /* Standard. IE9 */
	display: block;
	padding: 5px;
}
.stacked-round-grey-box a:hover {
	background: #222;
}
.stacked-round-grey-box figcaption {
	display: block;
	margin-top: 5px;
}
/**
 * Fluid images
 * @see http://unstoppablerobotninja.com/entry/fluid-images
 */
.stacked-round-grey-box img {
	display: block;
	max-width: 100%;
}

/** @section Footer
 -------------------------------------------------- */

.bottom-thing {
	border-top: 1px solid #333;
	font-size: 11px;
	margin-top: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
}