/**
 * Make gallery full-width
 */
.side-by-side-boxes {
	padding: 10px 0;
}
.stacked-round-grey-box {
	width: 100%;
	margin: 10px 0;
	padding: 0;
}

/**
 * Make Articles full-width
 */
.text-thingy {
	width: 100%;
	margin: 10px 0;
}